*{
padding: 0;
margin: 0;
box-sizing: border-box;
}
body{
    background-color:blueviolet;
  }
.all img {
    height: 300px;
    width: 300px;
    margin-bottom: 25px;
    object-fit: cover;
}
.img {
    vertical-align: middle;
    border-style: none;
}